.dnd-flow-sidebar {
  padding: var(--size-m);
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 20%;
  min-width: 325px;
  max-width: 450px;

  .sidebar-header {
    .sidebar-search {
      width: 100%;
    }
  }

  .sidebar-description {
    margin-top: var(--size-m);
  }

  .sidebar-body {
    margin-top: var(--size-m);
    .sidebar-nodes {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .sidebar-footer {
    position: absolute;
    bottom: var(--size-m);
    width: 100%;

    .category-colors {
      display: flex;
      flex-wrap: wrap;
      gap: var(--size-m);
      .category-color-item {
        display: flex;
        align-items: center;
        gap: var(--size-xs);
        .color-box {
          height: var(--size-s);
          width: var(--size-s);
        }
      }
    }
  }
}
