.standard-node {
  border-radius: var(--radius-m);
  border: 1px solid var(--c-blue-grey-100);
  background-color: #ffffff;
  position: relative;
  display: flex;

  &-body {
    position: relative;
    overflow: hidden;
    padding: var(--size-s);
  }
  .dnd-node:hover .hover-content {
    opacity: 1;
    visibility: visible;
  }
}

.hover-content {
  min-width: 180px;
  position: absolute;
  z-index: 200;
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--radius-m);
  border: 1px solid var(--c-blue-grey-100);
  background-color: #ffffff;
}

.standard-node-body-label {
  font-weight: bold;
}
