.standard-node {
  border-radius: var(--radius-m);
  border: 1px solid var(--c-blue-grey-100);
  background-color: #ffffff;

  &-body {
    position: relative;
    overflow: hidden;
    padding: var(--size-s);
  }
  .standard-node-body-label {
    font-weight: bold;
  }
}
